<nav class="navbar navbar-light bg-light mb-5 " >
  <a class="navbar-brand" href="/"><img src="../../../assets/logo.gif" class="logo">Bundesliga</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="">Home</a>
      <a class="nav-item nav-link" routerLink="schedule">Spielplan</a>
      <a class="nav-item nav-link" href="tableResult">Tabelle</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/login">
        <span class="flag-icon flag-icon-gr"></span>
        <i class="fa fa-sign-in" style="font-size:20px;color:red"></i>
      </a>

    </div>
  </div>
</nav>
