<mat-toolbar>
  <span>Add Happened Date for Match</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon><i class="fa fa-window-close"></i></mat-icon></button>
</mat-toolbar>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input [(ngModel)]="locationName"  matInput placeholder="Location Name">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="address" matInput placeholder="Address">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="description" matInput placeholder="Description">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="numberPP" matInput placeholder="Numbers holding people">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">

        <div class="button-row">
          <button mat-raised-button color="accent" (click)="onSubmit()" type="button">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

